.hg
.git
*.pyc
*.pyo
*.db
.svn
.installed.cfg
.mr.developer.cfg
bin
develop-eggs
develop-eggs-src
dist
downloads
eggs
parts
build
*.egg-info
.DS_Store
.project
.pydevproject*
*.db
.settings

src
site_media
local_settings.py